.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#two{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #1A1A1A1A;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    justify-items: center;
    border: none;
}
#sign{
    color: rgb(11, 145, 212);
}
#signup{
    padding-left: 15rem;
    padding-top: .75rem;
}
.space{
    margin: 1rem;
    width: 20rem;
}
.btn{
    margin: 1rem;
    width:5rem;
    padding: .75rem;
    background-color: #fd7e14;
    color: white;
    font-weight: bolder;
}